<div class="container">

  <div class="p-5 d-flex justify-content-center align-content-center">
    <h1 style=""> welcome to box company <i class="fa-solid fa-box"></i></h1>
    <fa-icon style="padding: 10px; font-size: 20px; color: brown" [icon]="faBoxOpen"></fa-icon>
  </div>

  <!--create product section-->
  <div style="border-style: groove;border-color: brown; padding: 20px; border-width: 0.5px" class="">
    <mat-form-field color="primary">
      <!-- we write something inside of this input field, we get the value of the indputfiled as the productName -->
      <div class="d-flex align-items-start">

        <input matInput [(ngModel)]="productName">
      </div>
    </mat-form-field>
    <br>

    <mat-form-field style="">
      <!-- because the price is number -->
      <input type="number" matInput [(ngModel)]="productPrice">
    </mat-form-field>
    <br>

    <mat-form-field style="width: 100%; " color="primary">
      <!-- we write something inside of this input field, we get the value of the indputfiled as the productName -->
      <input matInput [(ngModel)]="productDescription">
    </mat-form-field>
    <br>

    <!-- if the product price is less than 1 and product name is empty string, then we have a disabled button
  <button [disabled]="productName=='' || productPrice<1" mat-raised-button (click)="createProduct()">Click me</button>-->

    <button style="padding: 10px 30px 10px 30px" (click)="createProduct()"
            type="button"
            class="btn btn-outline-primary"
            ngbPopover="Add a box"
            triggers="mouseenter:mouseleave"
    >Add a box
    </button>
  </div>
  <!--finished-->

  <!--pup op box for update-->
  <div style="border-style: groove;border-color: brown; padding: 20px; border-width: 0.5px" class="" *ngIf="editName">
    <mat-form-field color="primary">
      <!-- we write something inside of this input field, we get the value of the indputfiled as the productName -->
      <div class="d-flex align-items-start">
        <input matInput [(ngModel)]="editName" name="productName">
      </div>
    </mat-form-field>
    <br>

    <mat-form-field style="">
      <input type="number" matInput [(ngModel)]="editPrice">
    </mat-form-field>
    <br>

    <mat-form-field style="width: 100%; " color="primary">
      <input matInput [(ngModel)]="productDescription">
    </mat-form-field>
    <br>

    <button style="padding: 10px 30px 10px 30px" (click)="createProduct()"
            type="button"
            class="btn btn-outline-primary"
            ngbPopover="Add a box"
            triggers="mouseenter:mouseleave"
    >Save
    </button>
  </div>



  <!--alle the created boxes-->
  <mat-card class="cardClass" style="margin-top:30px;" *ngFor="let p of products">
    <mat-card-title style="color: #262626;">{{p.name}}</mat-card-title>
    <mat-card-subtitle>{{p.price}},-</mat-card-subtitle>

    <p style="background-color: #f0f3f3; width: fit-content; padding: 10px">product number: {{p.id}}</p>

    <div id="Description">
      <ngb-accordion>
        <ngb-panel id="preventchange-1" title="Product Description">
          <ng-template ngbPanelContent="{{p.description}}">
            <p style="background-color: #f1eee0"> {{p.description}}</p>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>

    <div class="d-flex flex-row">
      <div class="">
        <button style="margin-top: 30px" (click)="deleteProduct(p.id)"
                type="button"
                class="btn btn btn-outline-danger"
                ngbPopover="Delete this box"
                triggers="mouseenter:mouseleave">Delete box
        </button>
      </div>

      <div class="mx-lg-3">
        <button style="margin-top: 30px" (click)="triggerEdit(p.name, p.price, p.description)"
                type="button"
                class="btn btn btn-outline-secondary"
                ngbPopover="Update this box"
                triggers="mouseenter:mouseleave">Edit box
        </button>
      </div>
    </div>

    <p class=""></p>
  </mat-card>
</div>


